/* src/components/TodoList.css */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  background-image: url('../public/kenyaflag.png');
  background-size: cover; /* Options: cover, contain, 50%, auto */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; 

}

h1 {
  text-align: center;
  color: white;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: pink;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li.completed span {
  text-decoration: line-through;
  color: #777;
}

li span {
  cursor: pointer;
}
